IP1={{IP1}}
IP2={{IP2}}
IP3={{IP3}}
IP4={{IP4}}
IP5={{IP5}}
HOSTIP=$(hostname -i)
ENABLE_SYSTEM_CHECK=y
ADMIN_EMAIL={{ admin_email }}
APIGEE_ADMINPW={{ admin_pw }}
LICENSE_FILE=/tmp/apigee/license.txt 
MSIP=$IP1 
USE_LDAP_REMOTE_HOST=n 
LDAP_TYPE=1
APIGEE_LDAPPW={{ ldap_pw }}
MP_POD=gateway
REGION=dc-1 
ZK_HOSTS="$IP1 $IP2 $IP3" 
ZK_CLIENT_HOSTS="$IP1 $IP2 $IP3" 
# Must use IP addresses for CASS_HOSTS, not DNS names.
# Optionally use Cassandra racks
CASS_HOSTS="$IP1 $IP2 $IP3" 
# Default is postgres
PG_PWD={{ pg_pw }}
SKIP_SMTP=n
PG_MASTER=$IP4
PG_STANDBY=$IP5
SMTPHOST=smtp.example.com
SMTPUSER=smtp@example.com
# omit for no username
SMTPPASSWORD={{ smtp_pw }}
# omit for no password
SMTPSSL=n
SMTPPORT=25
SMTPMAILFROM="My Company <myco@company.com>"